.navbar {
  border-bottom: 1px solid #ccc;
}

footer {
  border-top: 1px solid #ccc;
}

.center {
  display: flex;
  justify-content: center;
}

a.btn-primary {
  border-radius: 6px;
  padding: 10px;
}