/*-- scss:defaults --*/
$navbar-bg: #000;
$body-bg: #000;
$body-color: #FFF;
$link-color: #FFF;
$code-block-bg-alpha: -.9;

/* Custom dark theme styles */
a.btn-primary {
  background-color: transparent;
  border-color: #fff;
  color: #fff;  
}

a.btn-primary:hover {
  background-color: #333;
  border-color: #fff;
  color: #fff;
}

a .menu-text,
a .navbar-title {
    color: #fff !important;
}

a .menu-text:hover,
a .navbar-title:hover {
    color: #ddd !important;
}